.menu{
  position: fixed;
  height: 100%;
  width: 180px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  background-color:rgba(0,0,0,0.5);
  overflow: hidden;
}

.menu .logo{
  height: 50px;
  background-color:rgba(0,0,0,0.5);
  padding-top: 10px;
}
.menu .logo>img{
  display: block;
  width: 50%;
  height: auto;
}
.menu .logo>h5{
  padding-left: 10px;
}
.menu-mainli{
  cursor: pointer;
}
.menu-mainli>a{
  padding-left: 15px;
}
.menu-mainli>a>span{
  margin-left: 15px;
}
.menu-mainli-i-before{
  margin-left:18px;
  margin-top: 12px;
  margin-right: 8px;
  font-size: 12px
}
.menu-mainli-i-after{
  transition: all 0.3s ease-out;
  margin-right: 40px;
  margin-top: 12px;
  font-size: 15px
}
.menu-ul{
  transition: all 0.5s ease-out;
}
.menu-ul>li{
  cursor: pointer;
}
.menu-ul>li>a{
  padding-left: 28px;
}
.menu-ul>li>a>span{
  font-size: 13px;
}

ul{
  padding: 0;
  transition: all 0.5s ease-out;
  overflow: hidden;
}
ul>li ul{
  height: 0;
  overflow: hidden;
}
ul li a{
  height: 40px;
  line-height: 40px;
  display: block;
}
ul li a:hover{
  color: #EEF5FD;
  cursor: pointer;
}
ul>li{
  list-style: none;
  line-height: 20px;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.pull-right{
  margin-right: 5px;
}
.sliding_box{
  transition: all 0.2s ease-out;
  position: absolute;
  left: 0;
  width: 5px;
  background: #E05160;
}

