<div class="menu" (mouseleave)="onMouseleave()">
  <!--LOGO-->
  <div class="logo">
    <h5>红鸟智能信息管理系统</h5>
  </div>
  <!--运动条-->
  <div #slidingBox class="sliding_box" [ngStyle]="{height: slidinghight+'px',top:slidingTop+'px'}"></div>
  <!--导航-->
  <ul #mainul>
    <li class="menu-mainli" #mainli *ngFor="let list of navLists;" [ngStyle]="{background:list.clsstate? '#EEF5FD': ''}">
      <a
        #mainli_a [ngStyle]="{color:list.clsstate? '#E05160': ''}"
        (mouseenter)="mainLiMouseEnter(mainli_a)"
        (click)="mainLiClick(mainul,menuul,list)"
      >
        <i class="menu-mainli-i-before pull-left" [class]="[list.icon]"></i>
        <span>{{list.title}}</span>
        <i  class="menu-mainli-i-after pull-right" [ngClass]="{'fa': list.children.length, 'fa-angle-down': list.children.length}" [ngStyle]="{transform: list.open?'rotate(0deg)':'rotate(180deg)'}"></i>
      </a>
      <ul class="menu-ul" #menuul>
        <li *ngFor="let listchild of list.children" #menuli [ngStyle]="{background:listchild.setState? '#EEF5FD': ''}">
          <a
            [routerLink]="[listchild.routers]"
            #menuli_a [ngStyle]="{color:listchild.setState? '#E05160': ''}"
            (mouseenter)="menuliMouseEnter(menuli)"
            (click)="menuliClick(listchild)">
            <span style="margin-left: 18px">{{listchild.title}}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
