.title{
  display: inline-block;
  width: 200px;
  color: #848A95;
}
.title .fa-navicon{
  color: white;
  cursor:pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
}
.user .user-admin{
  display: inline-block;
  color: white;
  padding-right: 15px;
  line-height: 50px;
}

.user-photo>img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  overflow: hidden;
  cursor: pointer;
}
.user-photo-toggle{
  position: absolute;
  width: 150px;
  color: white;
  top: 57px;
  left: -75px;
}

.user>.user-remind,.user-photo,.user-set{
  display: inline-block;
  position: relative;
  color: white;
  padding-right: 15px;
}
.user-remind{
  font-size: 18px;
  position: relative;
  cursor: pointer;
  color: #7B8292;
}
.user-remind>.fa-bell-o:hover{
  color: #E85656;
}
.user-remind-top{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -5px;
  left: 15px;
  background: #E85656;
  color: white;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  padding-right: 2px;
}
.user-remind-circle{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: -5px;
  border: 1px solid transparent;
  border-radius: 50%;
}
.user-remind-scroll-h4{
  background: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 15px;
  color: #249F93;
}
.user-remind-scroll-h4>span:nth-child(2):hover{
  cursor: pointer;
}

.user-remind-scroll{
  position: absolute;
  top: 67px;
  right: 102px;
  width: 315px;
  color: #7D7D7D;
  font-size: 12px;
}
.user-remind-scroll>.user-remind-scroll-content{
  position: relative;
  height: 300px;
  overflow: hidden;
}
.user-remind-scroll-content>.scroll-box{
  width: 5px;
  height: 300px;
  right: 0;
  top: 0;
  z-index: 999;
  position: absolute;
}
.user-remind-scroll-content>.scroll-box>.scroll-box-bar{
  width: 5px;
  background: #808080;
}
.user-remind-scroll-content>.scroll-box>.scroll-box-bar:hover{
  cursor: pointer;
}

.user-remind-scroll .list-group .rounded-circle-img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.user-remind-scroll .list-group .list-group-item{
  border-bottom: 2px solid #CCCCCC;
  padding: 5px 15px;
}
.user-remind-scroll .list-group .text-timer{
  display: inline-block;
  position: absolute;
  line-height: 36px;
  right: 15px;
}

.user .user-set{
  font-size: 22px;
  margin-left: 15px;
}



/*字体图标*/
.fa-navicon{
  margin-left: 15px;
  font-size: 22px;
  font-weight: 500;
}

/*bootstrap改造*/
.form-control{
  /* display: inline-block;
   width: 180px;
   height: 22px;
   padding-top: 0;*/
}
.container-fluid{
  padding-left: 0;
}
.navbar{
  border-radius: 0;
  background-color:rgba(0,0,0,0.5);
  box-shadow: 2px 0 3px rgba(0,0,0,.7);
  height: 50px;
  color: white;
  border: none;
  padding-left: 15px;
  margin-left: 180px;
}
.navbar-header{
  float: none;
}
.list-group-item{
  /*background-color:#FFFFFF;*/
  border: none;
  cursor: pointer;
  position: relative;
}
.list-group-item>span{
  margin-left: 10px;
}
.cl{
  clear: both;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
